.footer {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  height: 12%;
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.footer .icon {
  margin-left: 20px;
  margin-top: 1.1%;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  width: 105px;
  height: 50px;
  padding: 5px;
  border-radius: 25px;
}

@media screen and (max-width: 1366px) {
  .footer .icon {
    margin-top: 3%;
  }
}

.footer .icon img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
